.subtitles {
    position: absolute;
    z-index: 999;
    bottom: 15%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}

.words {
    position: absolute;
    background-color: black;
    text-align: center;
    font-size: 30px;
    display: flex;
    gap: 10px;
}